[submodule ".vendor/camptocamp-cloud-platform"]
	path = .vendor/camptocamp-cloud-platform
	url = https://github.com/hibou-io/camptocamp-cloud-platform.git
[submodule ".vendor/oca-server-tools"]
	path = .vendor/oca-server-tools
	url = https://github.com/hibou-io/oca-server-tools.git
[submodule ".vendor/oca-queue"]
	path = .vendor/oca-queue
	url = https://github.com/hibou-io/oca-queue.git
[submodule ".vendor/oca-connector"]
	path = .vendor/oca-connector
	url = https://github.com/hibou-io/oca-connector.git
