[submodule "external/hibou-oca/account-analytic"]
	path = external/hibou-oca/account-analytic
	url = https://github.com/hibou-io/oca-account-analytic.git

[submodule "external/hibou-oca/server-tools"]
	path = external/hibou-oca/server-tools
	url = https://github.com/hibou-io/oca-server-tools.git
