

$o-hibou-color: #0a6fa2;
$o-hibou-primary-color: #038f8c;

$o-brand-odoo: $o-hibou-color;
$o-brand-primary: $o-hibou-primary-color;
//$o-brand-secondary: #8f8f8f;
//$o-brand-lightsecondary: $o-gray-100;
